/* Header Element */
.header {
  height: 95vh;
  /* Specify Gradient For Image Overlay */
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* Clipping Image Using clip-path in clockwise direction */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* Triangle-Like - clip-path: polygon(50% 0, 100% 100%, 0 100%); */
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  /* Logo */

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* make heading content to be in middle by moving it backwards  */
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

