/* Basic CSS Reset & Project-Wide definition */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* set font-size that can be easily divisible 
  * Change to percentage so that user browser setting 
  *can scal the webpages when it is viewed
  */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
